<div class="jumbotron">
  <h1>References</h1>
</div>

<div class="container">
  <h5>
    <p class="hangingindent">“African Musical Instruments.” Contemporary African Art, https://www.contemporary-african-art.com/african-musical-instruments.html.</p>
    <p class="hangingindent">Grinnell College Musical Instrument Collection. “Erhu.” ERHU, https://omeka1.grinnell.edu/MusicalInstruments/items/show/22.</p>
    <p class="hangingindent">Grinnell College Musical Instrument Collection. “Kubing.” KUBING, https://omeka1.grinnell.edu/MusicalInstruments/items/show/97.</p>
    <p class="hangingindent">“Musical Instruments.” MUSIKO CORDILLERA, http://musikocordillera.weebly.com/musical-instruments.html.</p>
    <p class="hangingindent">Robotham, Donald Keith, and Gerhard Kubik. “African Music - Musical Instruments.” Encyclopædia Britannica, Encyclopædia Britannica, Inc., 8 Apr. 2016, https://www.britannica.com/art/African-music/Musical-instruments.</p>
    <p class="hangingindent">Sound of Dragon. “Dizi 笛子.” Dizi | SOUND OF DRAGON, Sound of Dragon, https://soundofdragon.com/dizi/.</p>
    <p class="hangingindent">“Taiko Basics - Taiko - Kids Web Japan.” Taiko Basics - Taiko - Meet the Kids - Kids Web Japan - Web Japan, https://web-japan.org/kidsweb/meet/taiko/taiko02.html.</p>
    <p class="hangingindent">The Editors of Encyclopaedia Britannica. “Koto.” Encyclopædia Britannica, Encyclopædia Britannica, Inc., 29 Jan. 2019, https://www.britannica.com/art/koto.</p>
    <p class="hangingindent">“The Pipe and Tabor Compendium.” Africa Tambin, http://www.pipeandtaborcompendium.co.uk/worldwide_traditions/tambin/tambinAll.html.</p>
  </h5>
</div>
