h2 {
  text-align: left;
  text-decoration: underline;
  text-decoration-color: #B6862C;
}

.carousel-left, .carousel-right {
  cursor: pointer;
  opacity: 0.6;
  transition: 0.3s;
}

.carousel-left {
  margin-left: 250px;
}

.carousel-right {
  margin-right: 250px;
}

.carousel-left:hover, .carousel-right:hover {
  opacity: 1;
}

.container {
  color: #112D54;
  width: 100%;
  margin-left: 5em auto;
  margin-right: 5em auto;
}

/* MOBILE VIEW */
@media only screen and (max-width: 768px) {
  #left {
    margin-left: auto;
  }

  #right {
    margin-right: auto;
  }

  .items, .items img, .slides-wrapper {
    max-width: 90vw !important;
  }
}
