<div class="jumbotron">
  <h1>Africa</h1>
</div>

<div class="container">
  <div ng2-carouselamos class="slides-wrapper"
    [items] = "items"
    [width] = "500"
    [$prev] = "prev"
    [$next] = "next"
    [$item] = "item">
  </div>

  <ng-template #prev>
    <img src="assets/images/left-arrow.png" id="left" class='carousel-left'>
  </ng-template>

  <ng-template #next>
    <img src="assets/images/right-arrow.png" id="right" class='carousel-right'>
  </ng-template>

  <ng-template #item let-item let-i="index">
    <div class="items">
      <h2>{{ item.instrument }}</h2>
      <p>{{ item.desc }}</p>
      <img src="{{ item.image }}" (mouseover)="playAudio(item.sound)" (mouseout)="stopAudio()" width=500 height=auto/>
    </div>
  </ng-template>
</div>
