<div class="jumbotron">
  <h1>IDH 3034: Community Engagement Project</h1>
</div>

<div class="container">
  <h3>Proposal</h3>
  <h5><p>Our idea is to create an interactive website experience in which we explore traditional instruments from Africa and Asia.
    The website features different instruments from various countries, and you can hover over the instruments to play audio samples.
    Due to its web presence, this project is very easily shareable with the class and the FIU community through a simple URL.</p>
  </h5>
  <h3>About</h3>
  <h5><p>Leila Adaza and David Paez are currently juniors majoring in Computer Science.
    Together, they created this website as a final project for the <i>Aural Engagement</i> course, taught by Professor McDaniel and Professor Calloway in the FIU Honors College.</p>
    Fun Facts About the Creators:
  </h5>
  <div class="table-responsive-sm">
    <table class="table table-borderless">
      <thead style="border: 0.5px solid #EEE">
        <tr>
          <th scope="col">Your favorite...</th>
          <th scope="col">Leila Adaza</th>
          <th scope="col">David Paez</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row" bgcolor="#EEE" style="border: 0.5px solid #EEE">Color?</th>
          <td><li style="color: pink">Pink</li></td>
          <td><li style="color: red">Red</li></td>
        </tr>
        <tr>
          <th scope="row" bgcolor="#EEE" style="border: 0.5px solid #EEE">Food?</th>
          <td><li style="color: #FFD500">Fries</li></td>
          <td><li style="color: orange">Pizza</li></td>
        </tr>
        <tr>
          <th scope="row" bgcolor="#EEE" style="border: 0.5px solid #EEE">Show?</th>
          <td><li style="color: #D4AF37">Gossip Girl</li></td>
          <td><li style="color: gray">Westworld</li></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
