<div class="jumbotron">
  <h1>IDH 3034: Community Engagement Project</h1>
</div>

<div class="container">
  <h3>Proposal</h3>
  <h5><p>Since we are both computer science students, we wanted our project to be related to our field.
    Our idea is to create an interactive website experience in which we explore instruments from Africa and Asia.</p>
    <p>The website features different instruments from these countries, and you can press on key areas in the instruments to play notes.
    Due to its web presence, it is very easily shareable with the class and the FIU community through a simple URL.</p>
  </h5>
</div>
