/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');

* {
  font-family: 'Source Sans Pro', sans-serif !important;
}

.navbar {
  background-image: url("assets/f1fae21d.png");
}

.navbar-collapse a:hover {
  color: #FFF !important;
}

.navbar-collapse a, .navbar-brand {
  color: #B6862C !important;
}

.jumbotron {
  color: #112D54;
  background-color: #B6862C;
  border-radius: 0px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 10px;
}

h3 {
  color: #112D54;
  text-decoration: underline;
  text-decoration-color: #B6862C;
}
